.shoe-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.shoe-container .container {
  margin-top: 5vh;
}

.petlogo {
  margin-right: 45rem;
}

h1 {
  text-align: center;
}

.svg-inline--fa  {
  height:4rem !important;
}

.btn-lg1{
  background-color:#228fc1 !important;
  border-color :#228fc1 !important;
}

.btn-lg2{
  background-color:#228fc1 !important;
  border-color :#228fc1 !important;
}
.btn-lg3{
  background-color:#228fc1 !important;
  border-color :#228fc1 !important;
}
.btn-lg4{
  background-color:#228fc1 !important;
  border-color :#228fc1 !important;
}

.nav-link{
  color:white !important;
}