
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";


.hero-pattern {
  background-image: url(../src/images/paw.png);
  background-color: rgba(141,198,62,255);
}
.login-page{
  background-image: url(../src/images/paw.png);
  background-color: rgba(132,161,180,255);
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: dosis,Helvetica,arial,sans-serif; 
}

.lost-pet-list{
  background-image: url(../src/images/paw.png);
  position: absolute;
  width: 100%;
  height: 100%;
}
.register-form{
  background-image: url(../src/images/paw.png);
  background-color: rgba(132,161,180,255);
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: dosis,Helvetica,arial,sans-serif; 

}
.lost-pet-info{
  background-image: url(../src/images/paw.png);
  background-color: rgba(132,161,180,255);
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: dosis,Helvetica,arial,sans-serif; 
  color:white;
  font-size: 30px;
}

.color-nav{
  background-color: rgba(98,147,62,255);
}

body {
  font-family: dosis,Helvetica,arial,sans-serif; 
  font-weight: 800;
}
nav {
  font-family: dosis,Helvetica,arial,sans-serif; 
  font-weight: 600;
  font-size: 30px;
}

.signin-card{
  background-color: white !important;
  color:rgba(141,198,62,255);
  
}

.lost-page-logo{
  background-color: rgba(132,161,180,255);
}



.app-heading{
  color: white;
  font-family: dosis,Helvetica,arial,sans-serif;    
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 60px;
  margin: 2.67em 0;
}

.shoe-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}


h1 {
  text-align: center;
}

h2 {
  text-align: left !important;
}


.svg-inline--fa  {
  height:4rem !important;
  color:white !important;
}

.lost-pet-info .svg-inline--fa  {
  height:1rem !important;
  color:white !important;
}


.btn-lg1{
  background-color:rgba(98,147,62,255) !important;
  border-color :rgba(98,147,62,255)!important;
  width:220px;
  height: 70px;
  text-align: center;
  font-family: dosis,Helvetica,arial,sans-serif; 
}


.nav-link{
  color:white !important;
}

input[type=file]{
  padding:10px;
}


.reg-form{
  margin-left: 45%;
  margin-top:2rem;
}

.pet-photo{
  display:block; 
  width:400px;
  height:500px;
}
 .btn-mail{
   width: 200px !important;
   height:50px !important;
   font-size: 20px !important;
 }

 